[submodule "zoo/models/facenet_pytorch"]
	path = zoo/models/facenet_pytorch
	url = https://github.com/timesler/facenet-pytorch
[submodule "zoo/models/pytorch_yolov3"]
	path = zoo/models/pytorch_yolov3
	url = https://github.com/eriklindernoren/PyTorch-YOLOv3
[submodule "zoo/models/pytorch_deeplab"]
	path = zoo/models/pytorch_deeplab
	url = https://github.com/jfzhang95/pytorch-deeplab-xception.git
